// les Variabes
// *******************Fonts*****************
/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/
//family
$title-font : 'Playfair Display', serif;
$txt-font : 'Lato', sans-serif;
//weight
$light: 300;
$regular : 400;
$medium: 500;
$bold : 700;
$heavy : 900;
//size

//******************Colors***************
$color-light: #f8f9fa;